[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin-honeypot = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-filter = "*"
django-taggit = "*"
djangorestframework = "*"
gunicorn = "*"
markdown = "*"
psycopg2 = "*"
requests = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.11"
